/* Biblioteca CSS Softly Equilibre 1.1.2  */
/* Cores  */
$cor-sucesso: #1dd1a1;
$cor-erro: #ff6b6b;
$cor-info: #576574;
$cor-importante: #feca57;
$cor-dark: #2d3436;
$cor-normal: #ddd;
$cor-contraste: #fff;
// Tipografias
$fonte-padrao: "calibri";
// Tamanhos tipográficos
$fonte-grande: 3rem;
$fonte-media: 2rem;
$fonte-pequena: 1rem;
$fonte-detalhes: 0.8rem;
// Paleta de cores do aplicativo
$cor-app1: #7874f2;
$cor-app2: #8e98f5;
$cor-app3: #b1cbfa;
$cor-app4: #dfe2fe;

// Mixins
// Blocos de exemplo
@mixin exemplo {
  @include centralizado();
  height: 80px;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  width: initial;
  background-color: $cor-app1;
  color: $cor-contraste;
  font-family: $fonte-padrao;
}
@mixin box-exemplo {
  @include centralizado();
  border-radius: 5px;
  width: 30%;
  height: 50px;
  margin: 5px;
  background-color: $cor-app1;
}
// Animações
// Slide para a cima
@mixin slide-cima() {
  animation: slideCima linear 1s infinite; // Troque o "infinite" para "forward"
  position: relative;
  @keyframes slideCima {
    from {
      bottom: -20px;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }
}
// Slide para a baixo
@mixin slide-baixo() {
  animation: slideBaixo linear 1s infinite; // Troque o "infinite" para "forward"
  position: relative;
  @keyframes slideBaixo {
    from {
      top: -20px;
      opacity: 0;
    }
    to {
      top: 0px;
      opacity: 1;
    }
  }
}
// Slide para a direita
@mixin slide-direita() {
  animation: slideDireita linear 1s infinite; // Troque o "infinite" para "forward"
  position: relative;
  @keyframes slideDireita {
    from {
      left: -30px;
      opacity: 0;
    }
    to {
      left: 0px;
      opacity: 1;
    }
  }
}
// Slide para a esquerda
@mixin slide-esquerda() {
  animation: slideEsquerda linear 1s infinite; // Troque o "infinite" para "forward"
  position: relative;
  @keyframes slideEsquerda {
    from {
      right: -30px;
      opacity: 0;
    }
    to {
      right: 0px;
      opacity: 1;
    }
  }
}
// fade in
@mixin fadeIn() {
  animation: fadeIn linear 1s infinite; // Troque o "infinite" para "forward"
  position: relative;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
// fade out
@mixin fadeOut() {
  animation: fadeOut linear 1s infinite; // Troque o "infinite" para "forward"
  position: relative;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
// gelatina
@mixin batimentos() {
  animation: batimentos linear 0.8s infinite; // Troque o "infinite" para "forward"
  position: relative;
  @keyframes batimentos {
    0% {
      transform: scale(1);
      @include transition();
    }
    50% {
      transform: scale(0.98);
      @include transition();
    }
    70% {
      transform: scale(1);
      @include transition();
    }
    90% {
      transform: scale(0.98);
      @include transition();
    }
    100% {
      transform: scale(1);
      @include transition();
    }
  }
}
// Textos
@mixin tipografia($tamanho-tipo, $cor-tipo) {
  font-size: $tamanho-tipo;
  color: $cor-tipo;
  font-family: $fonte-padrao;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}
// Mixins forms
@mixin forms() {
  @include inicio();
  width: 100%;
  flex-direction: column;
}
@mixin label() {
  margin-bottom: 12px;
  align-self: flex-start;
}
@mixin input() {
  border-radius: 5px;
  padding: 15px;
  align-self: normal;
  border: 1px solid $cor-normal;
  margin-bottom: 12px;
}
@mixin input-arredondado() {
  border-radius: 50px;
  padding: 15px;
  align-self: normal;
  border: 1px solid $cor-normal;
  margin-bottom: 12px;

  &:focus {
    outline: none;
  }
}
@mixin input-linha() {
  padding: 15px;
  align-self: normal;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $cor-dark;
  margin-bottom: 12px;

  &:focus {
    outline: none;
    border-bottom: 1px solid $cor-normal;
    @include transition();
  }
}
//Mixins notificações
@mixin notificacao-btn() {
  @include distribuido-total();
  flex-direction: row;
  border: none;
  font-weight: normal;
  width: fit-content;
  padding: 12px;
  margin: 4px;
  border-radius: 5px;
}
@mixin bolinha() {
  @include centralizado();
  height: 17px;
  width: 17px;
  margin-left: 4px;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
}
// Mixins botões
@mixin btn() {
  border: none;
  margin: 4px;
  font-weight: bold;
  width: fit-content;
  border-radius: 5px;
  padding: 12px;
}
@mixin btn-contorno() {
  margin: 4px;
  background-color: transparent;
  font-weight: bold;
  width: fit-content;
  border-radius: 5px;
  padding: 12px;
}

@mixin btn-link() {
  margin: 4px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  width: fit-content;
}
// Alertas
@mixin alert {
  @include distribuido-total();
  font-weight: normal;
  margin: 4px;
  animation: alert linear 1s forwards;
  position: relative;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  width: 100%;

  // Animação

  & {
    @keyframes alert {
      0% {
        left: -60px;
        opacity: 0;
      }
      100% {
        left: 0px;
        opacity: 1;
      }
    }
  }
}
@mixin close() {
  font-weight: bold;
  font-size: 1rem;

  &:hover {
    @include cursor-opacidade();
  }
}
/* Mixins flexbox  */
@mixin centralizado() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin centralizado-total() {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin distribuido() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin distribuido-total() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin galeria() {
  @include centralizado();
  flex-wrap: wrap;
}
@mixin inicio() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin final() {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
// Mixins animações css
@mixin cursor-opacidade() {
  cursor: pointer;
  opacity: 0.5;
  @include transition();
}
@mixin preenchimento-cor() {
  cursor: pointer;
  @include transition();
}
@mixin cursor-underline() {
  cursor: pointer;
  text-decoration: underline;
  @include transition();
}
@mixin transform() {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
@mixin transition() {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
}
/* Encadeamentos */
/* Botões  */
/* Botão sucesso  */
.btn-sucesso {
  @include btn();
  background-color: $cor-sucesso;
  font-family: $fonte-padrao;
  color: $cor-contraste;
}
/* Evento Hover  */
.btn-sucesso:hover {
  @include cursor-opacidade();
}
/* Botão Erro  */
.btn-erro {
  @include btn();
  background-color: $cor-erro;
  font-family: $fonte-padrao;
  color: $cor-contraste;
}
/* Evento Hover  */
.btn-erro:hover {
  @include cursor-opacidade();
}
/* Botão Informações  */
.btn-info {
  @include btn();
  background-color: $cor-info;
  font-family: $fonte-padrao;
  color: $cor-contraste;
}
/* Evento Hover  */
.btn-info:hover {
  @include cursor-opacidade();
}
/* Botão dark  */
.btn-dark {
  @include btn();
  background-color: $cor-dark;
  font-family: $fonte-padrao;
  color: $cor-contraste;
}
/* Evento Hover  */
.btn-dark:hover {
  @include cursor-opacidade();
}
/* Botão Sucesso contorno  */
.btn-sucesso-contorno {
  @include btn-contorno();
  border: 2px solid $cor-sucesso;
  font-family: $fonte-padrao;
  color: $cor-sucesso;
}
/* Evento Hover  */
.btn-sucesso-contorno:hover {
  @include preenchimento-cor();
  background-color: $cor-sucesso;
  color: $cor-contraste;
}
/* Botão Erro contorno  */
.btn-erro-contorno {
  @include btn-contorno();
  border: 2px solid $cor-erro;
  font-family: $fonte-padrao;
  color: $cor-erro;
}
/* Evento Hover  */
.btn-erro-contorno:hover {
  @include preenchimento-cor();
  background-color: $cor-erro;
  color: $cor-contraste;
}
/* Botão Informações contorno  */
.btn-info-contorno {
  @include btn-contorno();
  border: 2px solid $cor-info;
  font-family: $fonte-padrao;
  color: $cor-info;
}
/* Evento Hover  */
.btn-info-contorno:hover {
  @include preenchimento-cor();
  background-color: $cor-info;
  color: $cor-contraste;
}
/* Botão dark contorno  */
.btn-dark-contorno {
  @include btn-contorno();
  border: 2px solid $cor-dark;
  font-family: $fonte-padrao;
  color: $cor-dark;
}
/* Evento Hover  */
.btn-dark-contorno:hover {
  @include preenchimento-cor();
  background-color: $cor-dark;
  color: $cor-contraste;
}
/* Botão link sucesso */
.btn-link-sucesso {
  @include btn-link();
  font-family: $fonte-padrao;
  color: $cor-sucesso;
}
/* Evento Hover  */
.btn-link-sucesso:hover {
  @include cursor-underline();
}
/* Botão link info*/
.btn-link-info {
  @include btn-link();
  font-family: $fonte-padrao;
  color: $cor-info;
}
/* Evento Hover  */
.btn-link-info:hover {
  @include cursor-underline();
}
/* Botão link erro */
.btn-link-erro {
  @include btn-link();
  font-family: $fonte-padrao;
  color: $cor-erro;
}
/* Evento Hover  */
.btn-link-erro:hover {
  @include cursor-underline();
}
/* Botão link dark */
.btn-link-dark {
  @include btn-link();
  font-family: $fonte-padrao;
  color: $cor-dark;
}
/* Evento Hover  */
.btn-link-dark:hover {
  @include cursor-underline();
}
/* Alertas */
.alerta {
  @include alert();
  background-color: $cor-normal;
  font-family: $fonte-padrao;
  color: $cor-dark;

  kbd {
    @include close();
  }
}
// Alerta de erro
.alerta-erro {
  @include alert();
  background-color: $cor-erro;
  font-family: $fonte-padrao;
  color: $cor-contraste;

  kbd {
    @include close();
  }
}
// Alerta de sucesso
.alerta-sucesso {
  @include alert();
  background-color: $cor-sucesso;
  font-family: $fonte-padrao;
  color: $cor-contraste;

  kbd {
    @include close();
  }
}
// Alerta de informações
.alerta-info {
  @include alert();
  background-color: $cor-info;
  font-family: $fonte-padrao;
  color: $cor-contraste;

  kbd {
    @include close();
  }
}
// Alerta de importante
.alerta-importante {
  @include alert();
  background-color: $cor-importante;
  font-family: $fonte-padrao;
  color: $cor-dark;

  kbd {
    @include close();
  }
}
// Alerta dark
.alerta-dark {
  @include alert();
  background-color: $cor-dark;
  font-family: $fonte-padrao;
  color: $cor-contraste;

  kbd {
    @include close();
  }
}

// Notificações
// Notificação dark
.notif-btn-dark {
  @include notificacao-btn();
  background-color: $cor-dark;
  font-family: $fonte-padrao;
  color: $cor-contraste;

  .bolinha {
    @include bolinha();
    font-family: $fonte-padrao;
    color: $cor-contraste;
    background-color: $cor-erro;
  }
}
// Notificação informações
.notif-btn-info {
  @include notificacao-btn();
  background-color: $cor-info;
  font-family: $fonte-padrao;
  color: $cor-contraste;

  .bolinha {
    @include bolinha();
    font-family: $fonte-padrao;
    color: $cor-contraste;
    background-color: $cor-erro;
  }
}
// Notificação importante
.notif-btn-importante {
  @include notificacao-btn();
  background-color: $cor-importante;
  font-family: $fonte-padrao;
  color: $cor-dark;

  .bolinha {
    @include bolinha();
    font-family: $fonte-padrao;
    color: $cor-contraste;
    background-color: $cor-dark;
  }
}
// Notificação normal
.notif-btn-normal {
  @include notificacao-btn();
  background-color: $cor-normal;
  font-family: $fonte-padrao;
  color: $cor-dark;

  .bolinha {
    @include bolinha();
    font-family: $fonte-padrao;
    color: $cor-contraste;
    background-color: $cor-erro;
  }
}
// Forms
.form-grupo {
  @include forms();
  font-family: $fonte-padrao;

  label {
    @include label();
  }

  // Input padrão
  .form-input {
    @include input();
  }
  // Input arredondado
  .form-input-arredondado {
    @include input-arredondado();
  }
  // Input linha
  .form-input-linha {
    @include input-linha();
  }
}
// Layout
// Flex Centralizado
.flex-centralizado {
  @include centralizado();
  background-color: $cor-app2;
  color: $cor-contraste;
  font-family: $fonte-padrao;
  padding: 25px;
  margin-top: 12px; // Margeamento para apresentação no site
}
// Flex Inicio
.flex-inicio {
  @include inicio();
  background-color: $cor-app2;
  color: $cor-contraste;
  font-family: $fonte-padrao;
  padding: 25px;
  margin-top: 12px; // Margeamento para apresentação no site
}
// Flex Final
.flex-final {
  @include final();
  background-color: $cor-app2;
  color: $cor-contraste;
  font-family: $fonte-padrao;
  padding: 25px;
  margin-top: 12px; // Margeamento para apresentação no site
}
// Flex horizontal
.flex-dist-h {
  @include distribuido();
  flex-direction: row;
  height: auto;
  text-align: center;
  background-color: $cor-app2;
  color: $cor-contraste;
  padding: 12px;
  font-family: $fonte-padrao;
  margin-top: 12px; // Margeamento para apresentação no site

  .box-exemplo {
    @include box-exemplo();
  }
}
// Flex vertical
.flex-dist-v {
  @include distribuido();
  flex-direction: column;
  height: auto;
  text-align: center;
  background-color: $cor-app2;
  color: $cor-contraste;
  padding: 12px;
  font-family: $fonte-padrao;
  margin-top: 12px; // Margeamento para apresentação no site

  .box-exemplo {
    @include box-exemplo();
    width: 100%;
  }
}
// Flex tabela
.flex-galeria {
  @include galeria();
  height: auto;
  text-align: center;
  background-color: $cor-app2;
  color: $cor-contraste;
  padding: 12px;
  font-family: $fonte-padrao;
  margin-top: 12px; // Margeamento para apresentação no site

  .box-exemplo {
    @include box-exemplo();
    width: 100px;
    height: 100px;
  }
}
// Tipografias
.tipografia-h1 {
  @include tipografia(40px, $cor-dark);
}
.tipografia-h2 {
  @include tipografia(32px, $cor-dark);
}
.tipografia-h3 {
  @include tipografia(28px, $cor-dark);
}
.tipografia-h4 {
  @include tipografia(24px, $cor-dark);
}
.tipografia-h5 {
  @include tipografia(20px, $cor-dark);
}
.tipografia-h6 {
  @include tipografia(16px, $cor-dark);
}
// Animações
// slide para a cima
.slide-cima {
  @include slide-cima();
  .exemplo {
    @include exemplo();
  }
}
// slide para a baixo
.slide-baixo {
  @include slide-baixo();
  .exemplo {
    @include exemplo();
  }
}
// slide para a direita
.slide-direita {
  @include slide-direita();
  .exemplo {
    @include exemplo();
  }
}
// slide para a esquerda
.slide-esquerda {
  @include slide-esquerda();
  .exemplo {
    @include exemplo();
  }
}
// fadeIn
.fadeIn {
  @include fadeIn();
  .exemplo {
    @include exemplo();
  }
}
// fadeOut
.fadeOut {
  @include fadeOut();
  .exemplo {
    @include exemplo();
  }
}
// gelatina
.batimentos {
  @include batimentos();
  .exemplo {
    @include exemplo();
  }
}
